* {
  /* removes padding from all elements */
  box-sizing: border-box;
}
body {
  /* background: red; */
}

div {
  /* text-align: center; */
}

#container {
  position: relative;
  /* display as inline block so the entire container is within the child size i.e. canvas */
  display: inline-block;
  /* text-align: center; */
}

#top-banner {
  background-color: transparent;
  position: absolute;
  display: flex;
  width: 100%;
  align-items: center;
  padding: 20px;
}

.empty {
  height: 30px;
  width: 100%;
}
#timer {
  background-color: grey;
  /* display: inline-block; */
  width: 30%;
  height: 50px;
  display: flex;
  align-items: center;
  justify-content: center;
  border-radius: 3rem;
}

#results {
  position: absolute;
  color: white;
  display: flex;
  align-items: center;
  justify-content: center;
  top: 0;
  right: 0;
  bottom: 0;
  left: 0;
  display: flex;
  font-size: xx-large;
}

#restart {
  background-color: red;
  border: none;
  border-radius: 0.5rem;
  padding: 0.7rem 1rem;
  position: absolute;
  display: none;
  align-items: center;
}

#canvas {
  width: 1152px;
  height: 864px;
  padding: 0%;
}
